<h1>New post</h1>
<%= form_with(model: @post) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :message %>
  <%= f.text_area :message, size: "60x10" %>

  <%= f.submit %>
<% end %>