<div class="posts posts__title-wrapper">
  <div class="posts posts__title">Post info</div>
  <%= link_to "Edit", edit_post_url(@post), class: "link-button" %>
  <%= link_to "Delete", post_url(@post), method: :delete, class: "link-button" %>
</div>


<div class="card card__title-wrapper">
  <div class="card card__title">
    <div class="card card__text">
      <%= @post.title %>
    </div>
  </div>
  <div class="card card__author">
    <div class="card card__text">
      <%= @user.nickname %>
    </div>
  </div>
</div>
<div class="card card__body">
  <div class="card card__text">
    <%= @post.message %>
  </div>
</div>