<h1>Post Info</h1>
<%= link_to "Edit", edit_post_url(@post), class: "link-button" %>
<%= link_to "Delete", post_url(@post), method: :delete, class: "link-button" %>
<div class="post-detailed__wrapper">
  <div class="post-detailed__title-wrapper">
    <div class="post-detailed__title">
      <%= @post.title %>
    </div>
    <div class="post-detailed__author">
      <%= @post.user_id %>
    </div>
  </div>
  <div class="post-detailed__body">
    <%= @post.message %>
  </div>
</div>